<launch>

    <include file="$(find astra_launch)/launch/astra.launch">
            <arg name="rgb_processing"                  default="false"  />
            <arg name="debayer_processing"              default="false" />
            <arg name="ir_processing"                   default="false" />
            <arg name="depth_processing"                default="false" />
            <arg name="depth_registered_processing"     default="false" />
            <arg name="disparity_processing"            default="false" />
            <arg name="disparity_registered_processing" default="false" />
    </include>

    <group ns="camera">

        <include
            file="$(find rgbd_launch)/launch/includes/depth.launch.xml">

            <arg name="manager" value="camera_nodelet_manager" />
            <arg name="respawn" value="false" />
            <arg name="depth"   value="depth" />
            <arg name="queue_size" value="30" />
        </include>
    </group>

</launch>