<launch>

    

    <include
            file="$(find turtlebot_teleop)/launch/xbox360_teleop.launch">  
            <param name="scale_linear" value="0.3"/>
    </include>

    <node 
        pkg="tc_1"
        type="llm_manager_node.py"
        name="llm_manager_node"
        output="screen"
    />

    <group ns="control">
        <node 
            pkg="tc_1"
            type="tts_node.py"
            name="tts_node"
            output="screen"
        >
            <param name="should_manage_stt" value="false"/>

        </node>
    </group>

    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch" />

</launch>
