 <launch>

 <group ns="control">
        <node 
            pkg="tc_1"
            type="vis_node.py"
            name="vis"
            output="screen"
        >
            <param name="user_tag" value="USER"/>
            <param name="response_tag" value="RESPONSE"/>

        </node>
    </group>

</launch>
