<launch>

    <group ns="camera">

        <include
            file="$(find rgbd_launch)/launch/includes/depth.launch.xml">

            <arg name="manager" value="camera_nodelet_manager" />
            <arg name="respawn" value="false" />
            <arg name="depth"   value="depth" />
            <arg name="queue_size" value="30" />
        </include>
    </group>

    <node 
        pkg="tc_1"
        type="llm_manager_node.py"
        name="llm_manager_node"
        output="screen"
    />

    <group ns="control">
        <node 
            pkg="tc_1"
            type="tts_node.py"
            name="tts_node"
            output="screen"
        >
            <param name="should_manage_stt" value="false"/>

        </node>
    </group>

    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch" />

</launch>
