<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <include file="$(find astra_launch)/launch/astra.launch">
        <arg name="rgb_processing"                  default="false"  />
        <arg name="debayer_processing"              default="false" />
        <arg name="ir_processing"                   default="false" />
        <arg name="depth_processing"                default="false" />
        <arg name="depth_registered_processing"     default="false" />
        <arg name="disparity_processing"            default="false" />
        <arg name="disparity_registered_processing" default="false" />
    </include>
    
    <node
        pkg="tc_1"
        type="stt_node.py"
        name="stt_node"
        output="screen"
    />

    <group ns="onboard">
        <node 
            pkg="tc_1"
            type="tts_node.py"
            name="tts_node"
            output="screen"
        >
            <param name="should_manage_stt" value="true"/>

        </node>
    </group>

    
</launch>