<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <include file="$(find astra_launch)/launch/astra.launch"/>
    <!-- <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch" /> -->

    <node
        pkg="tc_1"
        type="stt_node.py"
        name="stt_node"
        output="screen"
    />

    <node 
        pkg="tc_1"
        type="llm_manager_node.py"
        name="llm_manager_node"
        output="screen"
    />
</launch>